/* Hero Section */
div.hero {
	height:100vh;
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
    margin-bottom: 5px;
}

.section-hero {
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

#contact_links {
    font-size: 20px;
    padding-bottom: 15px;
}

#navbar-logo {
    height: 60px;
    width: 60px;
}

.portfolio-section {
    height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
}

img.header-img {
    display: block;
    margin: 0 auto;
}

#navbar {
    background-color: #01B7FF;
}

.about-section {
    padding-top: 5%;
    padding-bottom: 5%;
}

.contact-section {
    padding-top: 5%;
    padding-bottom: 2%;
}

#about-container {
    margin: auto;
    width: 75%;
    text-align: center;
}

div#submit-button-container {
    border: none;
}

footer.footer-element {
    background-color: #01B7FF;
}

button.blue-background {
    background-color: #01B7FF;
}