/* Hero Section */
div.hero {
	height:100vh;
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
    margin-bottom: 5px;
}

.section-hero {
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    background-color: cyan;
}

#contact_links {
    font-size: 20px;
    padding-bottom: 15px;
}

#navbar-logo {
    height: 60px;
    width: 60px;
}

.portfolio-section {
    height: 100vh
}